<html>
        
        <!-- Bootstrap core CSS 
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        -->

        <!-- Custom styles for this template -->
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    
    <body class="widgetshome" ng-app="app" ng-controller="DashboardCtrl">

        <div class="container"ng-controller="DashboardCtrl">
            <a class="pull-right btn btn-primary edit_button" ng-hide="button" ng-click="changeClass(); margintop={'margin-top':'0px'}; edit=true; edit2=true; button=true; onOptions(); cursor={cursor:'move'};">
            <i class="glyphicon glyphicon-minus"></i> Edit Widget</a>

            <a class="pull-right btn btn-info edit_button" ng-show="edit2" ng-click="margintop={'margin-top':'40px'}; edit=false; edit2=false; button=false; onOptions2(); cursor={cursor:'auto'};">
                <i class="glyphicon glyphicon-lock"></i> Edit Widget</a> 

            <a class="pull-right btn btn-success add_clear_button" ng-show="button" ng-click="addWidget()">
                <i class="glyphicon glyphicon-plus"></i> Add Widget</a> 
         

            <a class="pull-right btn btn-danger add_clear_button" ng-show="edit" ng-click="clear()">
                <i class="glyphicon glyphicon-trash"></i> Clear all</a>

            <div class="page-header" ng-show="button"> 
                <h1>
            </div>  
              

            <div class="dashboard" gridster="gridsterOptions" ng-style="margintop">
                <ul>
                <!--widget-->
                <li gridster-item="widget" ng-repeat="widget in dashboard" ng-style="cursor">
                    <div class="box" ng-controller="CustomWidgetCtrl">
                        <div class="box-header"> 
                            {{ widget.name }}
                            <div class="box-header-btns pull-right"> 
                                <a title="settings" ng-show="edit" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a> 
                                <a title="Remove widget" ng-show="edit" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a> 
                            </div>
                        </div>
                          <div class="box-content" ng-include src='"/assets/views/"+widget.name + ".html.erb"'></div> 
                    </div>
                </li>
                <!--end widget-->
                </ul>
            </div>
        </div>
    </body>

    <footer class="footer">
        <div class="container">
            <p>Memocom.org - 2014</p>
        </div>
    </footer>
        
        <!-- Pop-up -->
        <div id="upload-popup" class="white-popup mfp-hide">
            <div id="upload_form_wrapper">
                <div class="upload_form">
                    <h1>Upload</h1>
                    <p>Kies uw bestanden:</p>
                    <%= form_for(@sha) do |f| %>
                        <%= f.file_field :file_input, multiple: true %>
                        <%= f.text_area :description %><br />
                        <%= f.submit "Upload" %>
                    <% end %>
                </div>
                <div class="loading_status">
                    <img src="assets/Icons/loading.gif" alt="Uploading" title="Uploading"/>
                </div>
                <div class="clear"></div>
            </div> 
        </div>
        <!-- End Pop-up -->
        
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        -->
        
        <!-- JavaScript functions
        ================================================== -->
        <script type="text/javascript">

            $(function(){ //DOM Ready

                $('.open-popup-link').magnificPopup({
                    type:'inline',
                    midClick: true
                });

            });

                   
        </script>

        <!--Angular gridster scripts-->
        <script src="/assets/angular.js"></script>
        <script src="/assets/ui-bootstrap-tpls.min.js"></script>
        <script src="/assets/angular-gridster.js"></script>
        <script type="text/javascript">
            angular.module('app', ['gridster', 'ui.bootstrap'])
        </script>
        <script src="/assets/script2.js.erb"></script>
        
    </body>
</html>

