<html>            
    <body class="cvbuilder" ng-app="CombineModule" ng-controller="OverviewCtrl">
      <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable>
        <!-- TUSSENSTUK OMHEINENDE TABEL -->            
        <table border="0" class="toptable">
          <tbody>
            <tr>
                <td class="titleheader">
                    Personalia
                </td>
            </tr>
          </tbody>
        </table>
        <!-- EINDE TUSSENSTUK OMHEINENDE TABEL --> 

            <div  data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2" jqyoui-draggable ng-hide="!list2.title"> 
          
              <!-- Template met data -->
              <table border="0" class="toptable">
                    <tbody>
                      <tr>
                        <td class="contenttable">
                      
                          <table>
                                <tbody>
                                  <tr>
                                    <td width="130"> Naam: </td>
                                    <td width="350" height="22px;"> {{list2.name}} </td>
                                  </tr>
                                  <tr>
                                    <td height="22px;"> Adres: </td>
                                    <td> {{list2.address}} </td>
                                  </tr>
                                  <tr>
                                    <td height="22px;"> Postcode, plaats:</td>
                                    <td> {{list2.zipcode}} {{list2.city}}</td>
                                  </tr>
                                  <tr>
                                    <td height="22px;"> Telefoon: </td>
                                    <td>{{list2.phone_number}}</td>
                                  </tr>
                                  <tr>
                                    <td height="22px;"> E-mail: </td>
                                    <td> {{list2.email}} </td>
                                  </tr>
                                  <tr>
                                    <td height="22px;"> Geboortedatum: </td>
                                    <td> {{list2.date_of_birth}} </td>
                                  </tr>
                                  <tr>
                                    <td height="22px;"> Geboorteplaats: </td>
                                    <td> {{list2.place_of_birth}} </td>
                                  </tr>
                                  <tr>
                                    <td height="22px;"> Nationaliteit: </td>
                                    <td> {{list2.nationality}} </td>
                                  </tr>
                                  <tr>
                                    <td height="22px;"> Rijbewijs: </td>
                                    <td> {{list2.driving_license}}</td>
                                  </tr>
                              </tbody>
                          </table>
                        </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <!-- Lege template -->
            <div ng-show="!list2.title">
              <table border="0" class="toptable">
                    <tbody>
                          <tr>
                            <td class="contenttable">                         
                          <table>
                                <tbody>
                                      <tr>
                                        <td width="130"> Naam: </td>
                                        <td width="350" height="22px;"></td>
                                      </tr>
                                      
                                      <tr>
                                        <td height="22px;"> Adres: </td>
                                        <td></td>
                                      </tr>
                                      
                                      <tr>
                                        <td height="22px;"> Postcode, plaats:</td>
                                        <td></td>
                                      </tr>
                                      
                                      <tr>
                                        <td height="22px;"> Telefoon: </td>
                                      </tr>
                                      
                                      <tr>
                                        <td height="22px;"> E-mail: </td>
                                      </tr>
                                      
                                      <tr>
                                        <td height="22px;"> Geboortedatum: </td>
                                      </tr>
                                      
                                      <tr>
                                        <td height="22px;"> Geboorteplaats: </td>
                                      </tr>
                                      
                                      <tr>
                                        <td height="22px;"> Nationaliteit: </td>
                                      </tr>
                                      
                                      <tr>
                                        <td height="22px;"> Rijbewijs: </td>
                                      </tr>
                              </tbody>
                      </table>
                </tbody>
              </table>
        </div>
      </div>

    <div class="thumbnail" data-drop="true" ng-model='list1' data-jqyoui-options="optionsList1" jqyoui-droppable="{multiple:true}">
       <!-- TUSSENSTUK OMHEINENDE TABEL -->            
        <table border="0" class="toptable">
          <tbody>
            <tr>
                <td class="titleheader">
                    Opleidingen
                </td>
            </tr>
          </tbody>
        </table>
      <!-- EINDE TUSSENSTUK OMHEINENDE TABEL -->  
                    <div ng-repeat="item in list1" ng-show="item.title" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},animate:true}" >
                      <table cellpadding="2" cellspacing="2">
                        <tr>
                        <td width="130" height="22px;">
                            {{item.year_of_study}}
                        </td>
                        <td width="506">
                            {{item.description}}
                        </td>
                        <td>
                            {{item.city}}                   
                        </td>           
                      </tr>
                    </table>
                  </div>
              </div>

          <div class="thumbnail" data-drop="true" ng-model='list3' data-jqyoui-options="optionsList3" jqyoui-droppable="{multiple:true}">
                   <!-- TUSSENSTUK OMHEINENDE TABEL -->            
                    <table border="0" class="toptable">
                      <tbody>
                        <tr>
                            <td class="titleheader">
                                Werkervaring
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  <!-- EINDE TUSSENSTUK OMHEINENDE TABEL -->  
            <div ng-repeat="item in list3" ng-show="item.title" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list3" jqyoui-draggable="{index: {{$index}},animate:true}" >
              <table cellpadding="2" cellspacing="2">                                
                  <tbody>
                    <tr>
                      <td width="130">
                          {{item.work_year}}
                      </td>
                      <td colspan="2" width="506">
                          <b>{{item.title}}</b>
                      </td>
                      <td>
                          {{item.city}}                    
                      </td>           
                    </tr>
                    <tr>
                      <td>&nbsp;
                      </td>   
                      <td width="130">
                          Branche:
                      </td>
                      <td width="370">
                          {{item.branch}}
                      </td>                       
                    </tr>   
                    <tr>
                      <td>&nbsp;
                      </td>   
                      <td>
                          Functie:
                      </td>
                      <td>
                          {{item.job}}
                      </td>                       
                    </tr>
                    <tr>
                      <td>&nbsp;
                      </td>   
                      <td>
                          Werkzaamheden:
                      </td>
                      <td>
                          {{item.activities}}               
                      </td>                       
                    </tr>
                    <tr>
                      <td>&nbsp;
                      </td>   
                      <td>
                          Voltijd/deeltijd:
                      </td>
                      <td>
                          {{item.time}}
                      </td>                       
                    </tr>
                    <tr>
                      <td>&nbsp;
                      </td>   
                      <td>
                          Adres:
                      </td>
                      <td>
                          {{item.address}}
                      </td>                       
                    </tr>
                    <tr>
                      <td>&nbsp;
                      </td>   
                      <td>
                          Postcode:
                      </td>
                      <td>
                          {{item.zipcode}} {{item.city}}                   
                      </td>                       
                    </tr>
                    <tr>
                      <td>&nbsp;
                      </td>   
                      <td>
                          Telefoon:
                      </td>
                      <td>
                          {{item.phone_number}}                    
                      </td>                       
                    </tr>
                    <tr>
                      <td>&nbsp;
                      </td>   
                      <td>
                          Referenties:
                      </td>
                      <td>
                          {{item.references}}                    
                      </td>                       
                    </tr>                  
                </tbody>
              </table>
            </div>
          </div>

          <div class="thumbnail" data-drop="true" ng-model='list4' data-jqyoui-options="optionsList4" jqyoui-droppable="{multiple:true}">
              <!-- TUSSENSTUK OMHEINENDE TABEL -->            
              <table border="0" class="toptable">
                <tbody>
                  <tr>
                      <td class="titleheader">
                          Talen
                      </td>
                  </tr>
                </tbody>
              </table>
              <!-- EINDE TUSSENSTUK OMHEINENDE TABEL -->  
                  <div ng-repeat="item in list4" ng-show="item.title" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list4" jqyoui-draggable="{index: {{$index}},animate:true}" >
                    <table cellpadding="2" cellspacing="2">
                        <tbody>
                          <tr>
                              <td width="130" height="22px;">
                                  {{item.title}}:
                              </td>
                              <td width="500">
                                  {{item.description}}
                              </td>           
                          </tr>
                        </tbody>
                    </table> 
                </div>
            </div>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Personalia
              </a>
              <!-- Edit Personalia button trigger modal -->
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                <i class="glyphicon glyphicon-pencil"></i> 
                Bewerk Personalia
              </button>

            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" >
            <div class="panel-body">
              <!-- Personalia buttons -->
                <div class="btn btn-droppable" ng-repeat="item in list5" data-drop="true" ng-model='list5' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list5])'}"  jqyoui-droppable="{index: {{$index}}}">
                  <div class="btn btn-info btn-draggable" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list5" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">{{item.title}}</div>
                </div>
            </div>
          </div>
        </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Opleidingen
            </a>
             <!-- Edit Opleidingen button trigger modal -->
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#opleiding">
              <i class="glyphicon glyphicon-pencil"></i> 
              Bewerk Opleidingen
            </button>
          </h4>
        </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
            <!-- Opleidingen buttons -->
                <div class="btn btn-droppable" ng-repeat="item in opleidingen" data-drop="true" ng-model='opleidingen' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=opleidingen])'}"  jqyoui-droppable="{index: {{$index}}}">
                  <div class="btn btn-info btn-draggable" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="opleidingen" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">{{item.title}}</div>
                </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Werkervaring
              </a>
               <!-- Edit Werkervaring button trigger modal -->
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#werkervaring">
                <i class="glyphicon glyphicon-pencil"></i> 
                Bewerk Werkervaring
              </button>

            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
             <!-- Werkervaring buttons -->
                <div class="btn btn-droppable" ng-repeat="item in werkervaring" data-drop="true" ng-model='werkervaring' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=werkervaring])'}"  jqyoui-droppable="{index: {{$index}}}">
                  <div class="btn btn-info btn-draggable" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="werkervaring" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">{{item.title}}</div>
                </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading4">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                Talen
              </a>
               <!-- Edit Talen button trigger modal -->
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#taal">
                <i class="glyphicon glyphicon-pencil"></i> 
                Bewerk Talen
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="panel-body">
                <!-- Talen buttons -->
                <div class="btn btn-droppable" ng-repeat="item in talen" data-drop="true" ng-model='talen' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=talen])'}"  jqyoui-droppable="{index: {{$index}}}">
                <div class="btn btn-info btn-draggable" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="talen" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" ng-hide="!item.title">{{item.title}}</div>
                </div>
              </div>
          </div>
        </div>
      </div>

      <!-- Print the page-->
      <form class="print">
        <button type="submit" class="btn btn-default" onclick="window.print();return false;">
          <i class="glyphicon glyphicon-print"></i>
          Print deze pagina
        </button>
      </form>


      <!-- Modal Personalia-->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Personalia</h4>
              </div>
            <div class="modal-body">
              <div ng-controller="FormController" ng-init="load_personalia()">
                  <!-- Form personalia -->
                  <form name="myForm"
                        sf-schema="schema"
                        sf-form="form"
                        sf-model="model"
                        ng-submit="onSubmit(myForm)">
                  </form>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>

              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Modal talen -->
      <div class="modal fade" id="taal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div ng-controller="FormController" ng-init="load_talen()">    
                  <!-- Form talen -->        
                  <form name="myForm2"
                        sf-schema="talen"
                        sf-form="form_talen"
                        sf-model="model_talen"
                        ng-submit="onSubmit_talen(myForm2)">
                  </form>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Opleidingen -->
      <div class="modal fade" id="opleiding" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div ng-controller="FormController" ng-init="load_opleidingen()">
                  
                  <!-- Form opleidingen -->
                  <form name="myForm3"
                        sf-schema="opleidingen"
                        sf-form="form_opleidingen"
                        sf-model="model_opleidingen"
                        ng-submit="onSubmit_opleidingen(myForm3)">
                  </form>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Werkervaring -->
      <div class="modal fade" id="werkervaring" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div ng-controller="FormController" ng-init="load_werkervaring()">
                  <!-- Form werkervaring -->
                  <form name="myForm4"
                        sf-schema="werkervaring"
                        sf-form="form_werkervaring"
                        sf-model="model_werkervaring"
                        ng-submit="onSubmit_werkervaring(myForm4)">
                  </form>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>

              </div>
            </div>
          </div>
        </div>
      </div>

    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    -->
    
    <script src="/assets/angular.js"></script>
    <script src="/assets/angular-dragdrop.js"></script>
    
    <script type="text/javascript" src="/assets/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/assets/tv4.js"></script>
    <script type="text/javascript" src="/assets/ObjectPath.js"></script>
    <script type="text/javascript" src="/assets/schema-form.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap-decorator.min.js"></script>
    <script type="text/javascript" src="/assets/cv_builder.js"></script>

  </body>
</html>