<!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links" style="display: none">
    <% a = Sha.where("filetype = 'image'").last(5).reverse %>
    <% ip = Socket.ip_address_list.find { |ai| ai.ipv4? && !ai.ipv4_loopback? }.ip_address %>
    <% a.each do |i| %>
        <a href="<%= "http://" + ip +":3179/ui/thumbnail/" +i.content %>" title= "<%= i.description %>" >
            <img src="<%= "http://" + ip +":3179/ui/thumbnail/" +i.content %>" alt="<%= i.description %>">
        </a>
    <% end %>
</div>

<script src="/assets/blueimp-gallery.min.js"></script>

<script>
blueimp.Gallery(
    document.getElementById('links').getElementsByTagName('a'),
    {
        container: '#blueimp-gallery-carousel',
        carousel: true
    }
);
</script>