<div id="settings_wrapper" class="row">
    <div id="settings_general" class="col-sm-6 col-md-5">
        <form role="form">
            <!--
            <div class="form-group">
            <label for="exampleInputEmail1">Kies grootte opslag items:</label>
            <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            </select>
            </div>
            -->                             
            <div class="form-group">
                <label for="exampleInputEmail1">Kies taal:</label>
                <select class="form-control">
                    <option>Nederlands</option>
                    <option>English</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Hoelang wilt uw verwijderde gegevens bewaren:</label>
                <select class="form-control">
                    <option>1 dag</option>
                    <option>1 week</option>
                    <option>1 maand</option>
                    <option>6 maanden</option>
                    <option>1 jaar</option>
                    <option>Altijd Bewaren</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Opslaan</button>
        </form>
    </div>
</div>